<html>
  <head>
    <title>Sign Up!</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.2.0/mdb.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container">
        <a class="navbar-brand me-2" href="https://mdbgo.com/">
          <img
            src="https://mdbcdn.b-cdn.net/img/logo/mdb-transaprent-noshadows.webp"
            height="16"
            alt="MDB Logo"
            loading="lazy"
            style="margin-top: -1px"
          />
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-mdb-toggle="collapse"
          data-mdb-target="#navbarButtonsExample"
          aria-controls="navbarButtonsExample"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarButtonsExample">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="#">Dashboard</a>
            </li>
          </ul>
          <div class="d-flex align-items-center">
            <button type="button" class="btn btn-link px-3 me-2">Login</button>
            <button type="button" class="btn btn-primary me-3">
              Sign up for free
            </button>
            <a
              class="btn btn-dark px-3"
              href="https://github.com/mdbootstrap/mdb-ui-kit"
              role="button"
              ><i class="fab fa-github"></i
            ></a>
          </div>
        </div>
      </div>
    </nav> -->
    <section
      class="vh-100 bg-image"
      style="
        background-image: url({{ url_for('static', filename='background.jpg') }})
      "
    >
      <div class="mask d-flex align-items-center h-100 gradient-custom-3">
        <div class="container h-100">
          <div
            class="row d-flex justify-content-center align-items-center h-100"
          >
            <div class="col-12 col-md-9 col-lg-7 col-xl-6">
              <div
                class="card"
                style="
                  border-radius: 15px;
                  background-color: rgba(250, 250, 250, 0.2);
                "
              >
                <div class="card-body p-5">
                  <h2 class="text-uppercase text-center mb-5">
                    Create an account
                  </h2>
                  <center>
                    {% with messages = get_flashed_messages() %} {% if messages
                    %} {% for message in messages %} {{ message }} {% endfor %}
                    {% endif %} {% endwith %}
                  </center>

                  <form action="/signup" method="POST">
                    <div class="form-outline mb-4">
                      <input
                        type="text"
                        id="form3Example1cg"
                        class="form-control form-control-lg"
                        name="name"
                      />
                      <label class="form-label" for="form3Example1cg"
                        >Your Name</label
                      >
                    </div>

                    <div class="form-outline mb-4">
                      <input
                        type="email"
                        id="form3Example3cg"
                        class="form-control form-control-lg"
                        name="email"
                      />
                      <label class="form-label" for="form3Example3cg"
                        >Your Email</label
                      >
                    </div>

                    <div class="form-outline mb-4">
                      <input
                        type="password"
                        id="form3Example4cg"
                        class="form-control form-control-lg"
                        name="password"
                      />
                      <label class="form-label" for="form3Example4cg"
                        >Password</label
                      >
                    </div>

                    <div class="form-outline mb-4">
                      <input
                        type="password"
                        id="form3Example4cdg"
                        class="form-control form-control-lg"
                        name="rePass"
                      />
                      <label class="form-label" for="form3Example4cdg"
                        >Repeat your password</label
                      >
                    </div>

                    <div class="d-flex justify-content-center">
                      <input
                        type="submit"
                        class="form-control form-control-lg"
                        style="background-color: rgb(128, 246, 128)"
                      />
                    </div>

                    <p class="text-center text-muted mt-5 mb-0">
                      Have already an account?
                      <a href="#!" class="fw-bold text-body"
                        ><u>Login here</u></a
                      >
                    </p>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
